<%- include("header") -%>

<div class="box" id="heading">
  <h1><%=ListTitle%></h1>
</div>

<div class="box">
  <%ListItems.forEach(function(listitem){%>
  <form action="/delete" method="post">
    <div class="item">
      <button class="delbutton" type="submit" name="delButton" value="<%=listitem._id%>">-</button>
      <p><%=listitem.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%=ListTitle%>">
  </form>

  <%})%>
  <form class="item" action="/" method="post">
    <input type="text" name="Items" placeholder="New Item " autocomplete="off" />
    <button type="submit" name="button" value="<%=ListTitle%>">+</button>
  </form>
</div>

<%- include("footer") -%>
